
.header {
  background-color: #333; /* Darker background */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 0 0 15px 15px; /* Rounded lower corners only */
  font-family: 'Arial', sans-serif; /* Match font with homepage.css */
}

.util, .classifyDefects {
  font-size: 40px; /* Match font size with homepage.css */
  margin: 0; /* Remove default margins */
}
.util {
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  background-color: #f5f5f5; /* Lighter background */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Adding shadow for depth */
}

.uploadText {
  color: blue;
  font-size: 40px;
}

.chooseFileButton {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Adding smooth transition */
}

.chooseFileButton:hover {
  background-color: navy; /* Darken color on hover */
}

.homeButton {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Adding smooth transition */
}

.homeButton:hover {
  background-color: white;
  color: black; /* Change text color on hover */
}
.filter{
  align-items: center;
  align-self: center;
  padding-left: 92%;
  
}
.Results th {
  background-color: #1008E9; /* Blue color */
  color: white; /* White text color */
  padding: 10px; /* Padding for the header cells */
}

.Results td {
  padding: 10px; /* Padding for the data cells */
}


.Chart {
  display: flex;
  height: 400px;
  width: 400px;
  padding-left: 40%;
  justify-content: center;
  align-items: center;
}